/************** Dont change anything in the body ******************/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/***********************************************************/

/* Begin coding your solution below */

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, 200px);
	width: 89%;
	margin: auto;
	column-gap: 2%;
	row-gap: 20px;
}

header {
	border: 1px solid #333;
	grid-column: 1 / 13;
}

section[class*="box"] {
	border: 1px solid #333;
}

.box1 {
	grid-column: 1 /3;
}

.box2 {
	grid-column: 3 /11;
}

.box3 {
	grid-column: 11 /13;
}

main {
	border: 1px solid #333;
	grid-column: 1 / 10;
}

aside {
	border: 1px solid #333;
	grid-column: 10 / 13;
}

footer {
	border: 1px solid #333;
	display: grid;
	grid-column: 1 / 13;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 2%;
	padding: 0 10px;
}

section[class*="footer"] {
	border: 1px solid #333;
	margin: 10px 0;
}