
@media screen and (min-width: 768px) and (max-width: 960px) {
    
.container {
	grid-template-rows: repeat(5, 200px);
}

.box1 {
	grid-column: 1 / 5;
}

.box2 {
	grid-column: 5 /9;
}

.box3 {
	grid-column: 9 /13;
}

main {
	grid-column: 1 / 7;
}

aside {
	grid-column: 7 / 13;
}

footer {
    grid-row: 4 / 6;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 210px);
}